<!-- Header Page -->
<cmp-header-page title="Servicios"></cmp-header-page>

<cmp-section-divider></cmp-section-divider>

<!-- Services Section -->
<cmp-text-image [textImage]="ServiceSection[0]" [layout]="ServiceSection[1]"></cmp-text-image>

<!-- Cards Section -->
<cmp-title label="Nuestros servicios"></cmp-title>

<cmp-cards [cards]="Services"></cmp-cards>

<!-- <cmp-section-divider></cmp-section-divider> -->

<!-- Spetialities Section -->
<cmp-title label="Especialidades"></cmp-title>

<cmp-cards [cards]="Specialities" class="mb-10"></cmp-cards>
