<aside class="p-6 shadow-md bg-purple-100 rounded-2xl text-center">
	<div class="mb-10 rounded bg-purple-200/50 shadow p-4">
		<h3 class="mb-3 text-2xl font-medium text-fuchsia-500">Redes</h3>

		<cmp-social-links class="social-links"></cmp-social-links>
	</div>

	<div class="md:flex md:justify-between md:gap-10 lg:block">
		<div class="mb-10 rounded bg-purple-200/50 shadow p-4 md:mb-0 md:flex-1 lg:mb-10">
			<h3 class="mb-3 text-2xl font-medium text-fuchsia-500">Misión</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, provident molestias repellendus esse iste eos sunt dolores nam ex ratione facere obcaecati reiciendis dicta natus alias nesciunt totam impedit aperiam?</p>
		</div>

		<div class="rounded bg-purple-200/50 shadow p-4 md:flex-1">
			<h3 class="mb-3 text-2xl font-medium text-fuchsia-500">Visión</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, provident molestias repellendus esse iste eos sunt dolores nam ex ratione facere obcaecati reiciendis dicta natus alias nesciunt totam impedit aperiam?</p>
		</div>
	</div>
</aside>
