<div class="max-w-screen-2xl mx-auto header-bg bg-no-repeat bg-center bg-cover mb-10" style="background-image: url({{ 'header-bg.png' | image }})">
	<div class="bg-gradient-to-r from-violet-500/20 to-fuchsia-500/20 h-full">
		<div class="h-full w-3/4 sm:w-1/2 md:w-2/5 bg-gray-300/25">
			<div class="w-full h-full px-3 flex flex-col justify-center items-start sm:px-5 md:mx-auto lg:w-4/5">
				<h3 class="mb-4 text-2xl md:text-3xl lg:text-4xl lg:mb-8">¡Veterinaria <span class="font-bold">MediPet!</span></h3>

				<p class="font-semibold lg:text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repudiandae dolorum molestias velit? Doloremque, consectetur. Quibusdam iure expedita voluptatum obcaecati.</p>

				<a dtvTextButton label="Reservar una cita" color="danger" design="filled" class="mt-5" routerLink="/appointment"></a>
			</div>
		</div>
	</div>
</div>
